<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8"/>
	<title>sample</title>

	<link rel="stylesheet" href="{% static 'css/style.css' %}">	
</head>
<body>
	<header>
		<a href="animal.html">YoutubeCrawling</a>
	</header>
	<nav>
		<a id="c2" href="animal.html">동물</a>
		<a id="c2" href="movie.html">영화</a>
		<a id="c2" href="game.html">게임</a>
        <a id="c2" href="sport.html">스포츠</a>
        <a id="c1">먹방</a>
	</nav>
	<div id="category">
		<div id="parent">
			<section class="child1">
				<h2>영향력이 큰 채널 (총 구독자 순)</h2>
				<ul>
					<p>1</p>
					<li><a id="a" href="detail.html">{{ channel_names1.0 }}</a></li>
					<p>2</p>
					<li><a id="a" href="detail.html">{{ channel_names1.1 }}</a></li>
					<p>3</p>
					<li><a id="a" href="detail.html">{{ channel_names1.2 }}</a></li>
					<p>4</p>
					<li><a id="a" href="detail.html">{{ channel_names1.3 }}</a></li>
					<p>5</p>
					<li><a id="a" href="detail.html">{{ channel_names1.4 }}</a></li>
				</ul>
			</section>
			<section class="child2">
				<h2>영향력이 큰 채널 (총 조회수 순)</h2>
				<ul>
					<p>1</p>
					<li><a id="a" href="detail.html">{{ channel_names2.0 }}</a></li>
					<p>2</p>
					<li><a id="a" href="detail.html">{{ channel_names2.1 }}</a></li>
					<p>3</p>
					<li><a id="a" href="detail.html">{{ channel_names2.2 }}</a></li>
					<p>4</p>
					<li><a id="a" href="detail.html">{{ channel_names2.3 }}</a></li>
					<p>5</p>
					<li><a id="a" href="detail.html">{{ channel_names2.4 }}</a></li>
				</ul>
			</section>
			<section class="child3">
				<h2>영향력이 큰 채널 (총 좋아요 순)</h2>
				<ul>
					<p>1</p>
					<li><a id="a" href="detail.html">{{ channel_names3.0 }}</a></li>
					<p>2</p>
					<li><a id="a" href="detail.html">{{ channel_names3.1 }}</a></li>
					<p>3</p>
					<li><a id="a" href="detail.html">{{ channel_names3.2 }}</a></li>
					<p>4</p>
					<li><a id="a" href="detail.html">{{ channel_names3.3 }}</a></li>
					<p>5</p>
					<li><a id="a" href="detail.html">{{ channel_names3.4 }}</a></li>
				</ul>
			</section>
		</div>
		<div>
			<section id="section">
				<h2>그래프</h2>
				<input type="radio" id="tab-1" name="show" checked/>
				<input type="radio" id="tab-2" name="show" />
				<input type="radio" id="tab-3" name="show" />
				<div class="tab">
					<label for="tab-1">일별</label>
					<label for="tab-2">주별</label>
					<label for="tab-3">월별</label>
				</div>
				<div class="content">
					<div class="content-dis">
						<img src="{% static 'img/graph/MUKBANG/MUKBANG_CHANNEL_YOUTUBER_GRAPH.png' %}" style="width: 100%;">
					</div>
					<div class="content-dis">
						<img src="{% static 'img/graph/MUKBANG/MUKBANG_CHANNEL_YOUTUBER_GRAPH.png' %}" style="width: 100%;">
					</div>
					<div class="content-dis">
						<img src="{% static 'img/graph/MUKBANG/MUKBANG_CHANNEL_YOUTUBER_GRAPH.png' %}" style="width: 100%;">
					</div>
				</div>
			</section>
		</div>
	
		<section id="section">
			<h2>워드 클라우드</h2>
			<div  style="display: flex; justify-content: center;">
				<p style="margin-right: 35%; font-size: 20px; margin-bottom: 0px;">제목 별 가장 핫한 키워드</p>
				<p style="font-size: 20px; margin-bottom: 0px;">댓글 별 가장 핫한 키워드</p>
			</div>
			<div style="display: flex; justify-content: center;">
				<img src="{% static 'img/wordcloud/MUKBANG/MUKBANG_CHANNEL_VIDEO_WORDCLOUD.png' %}" alt="워드 클라우드 이미지" style="width: 47%; height: 38%;">
				<img src="{% static 'img/wordcloud/MUKBANG/MUKBANG_CHANNEL_COMMENT_WORDCLOUD.png' %}" alt="워드 클라우드 이미지" style="width: 47%; height: 38%;">
			</div>
		</section>
		<section id="section">
			<div style="padding:30px; height: 250px;">
				<div style= "width: 25%; float: left; text-align: center;">
					<a href="{{ hot_videos.0.video_url }}"><img src="{{ hot_videos.0.video_thumbnail }}" style="padding: 0px 30px; width: 74%; height: 40%;"></a>
					<p>{{ hot_videos.0.video_title }}</p>
				</div>
				<div style= "width: 25%; float: left; text-align: center;">
					<a href="{{ hot_videos.1.video_url }}"><img src="{{ hot_videos.1.video_thumbnail }}" style="padding: 0px 30px; width: 74%; height: 40%;"></a>
					<p>{{ hot_videos.1.video_title }}</p>
				</div>
				<div style= "width: 25%; float: left; text-align: center;">
					<a href="{{ hot_videos.2.video_url }}"><img src="{{ hot_videos.2.video_thumbnail }}" style="padding: 0px 30px; width: 74%; height: 40%;"></a>
					<p>{{ hot_videos.2.video_title }}</p>
				</div>
				<div style= "width: 25%; float: left; text-align: center;">
					<a href="{{ hot_videos.3.video_url }}"><img src="{{ hot_videos.3.video_thumbnail }}" style="padding: 0px 30px; width: 74%; height: 40%;"></a>
					<p>{{ hot_videos.3.video_title }}</p>
				</div>
			</div>
		</section>
	</div>
	<footer>
		<p>&copy; 팀 프로젝트 1기 4팀 2조</p>
	</footer>
</body>
</html>
